/* колір основного тексту #212121; */
/* другорядний колір тексту  #757575;*/
/* акцентний колір #2196F3; */
/* білий #FFFFFF99 */
/* другорядний колір фону #F5F4FA */
/* колір футеру background: #2F303A; */

/* стилі для index.html */

:root {
  --primary-text-color: #212121;
  --paragraf-text-color: #757575;
  --acent-color: #2196f3;
  --primary-bg-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.logo.link {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.4;
  text-decoration: none;
}

.logo-acent.link {
  color: var(--acent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.4;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* site nav */

.main-nav .link {
  color: var(--primary-text-color);

  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header.link {
  color: var(--paragraf-text-color);
}

.link.address {
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer.link {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.main-nav .link:hover,
.main-nav .link:focus {
  color: var(--acent-color);
  text-decoration: none;
}

.main-nav .link.current {
  color: var(--acent-color);
}

/* hero */

.hero-titel {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

/* загальні стилі для всіх секцій */

.section-titel {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* feachers */

.feachers-list .titel {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.feachers-list .text {
  color: var(--paragraf-text-color);

  font-size: 14px;
  line-height: 1.7;
}

/* team */

.team-list .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-list .position {
  color: var(--paragraf-text-color);
  font-size: 16px;
  line-height: 1.2;
}

/* buttons */

.hero-button {
  color: white;
  background-color: var(--acent-color);
  border: none;
  border-radius: 4px;
  font-family: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  text-decoration: none;
  cursor: pointer;
}

.address {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.contact.link {
  color: #ffffff99;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.footer {
  background-color: #2f303a;
}

.footer .logo-footer {
  color: #ffffff;
}
/* стилі для portfolio.html */

.button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-decoration: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--primary-bg-color);
  background-color: var(--acent-color);
}

.portfolio-items .titel {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-items .sub-titel {
  color: var(--paragraf-text-color);

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
